<div class="text-muted">
    <div class="container">
        <div class="album">
            <h2 id="myprojects">My projects</h2>
            <div class='row'>
                <% site.pages.filter(function (page) {
                    return page.layout === 'project'
                })
                .each(function(post){ %>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="hovereffect">
                            <a href="<%= url_for(post.path) %>">
                                <img class="img-responsive"
                                     src="<%- post.thumbnail %>"
                                     alt="<%= post.title %> - <%= date(post.date, config.date_format) %>">
                                <div class="overlay">
                                    <h2><%= post.title %></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <% if (page.posts.length > 1) { %>
    <div class="container">
        <div class="album">
            <h2 id="blog">Blog</h2>
            <div class='row'>
                <% page.posts.each(function(post){ %>
                <div class="col-sm-4">
                    <a href="<%= url_for(post.path) %>">
                        <div class="card">
                            <img class="card-img-top" src="<%- post.thumbnail %>" alt="<%= post.title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= post.title %></h5>
                                <p class="card-text"><%= post.excerpt %></p>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <% } %>

    <div class="container">
        <h2 id="aboutme">Who Am I?</h2>
        <div class="row">
            <div class="col-sm-4">
                <% site.pages.filter(function (page) {
                    return page.path === 'about/index.html'
                }).each(function(page) { %>
                <img src="<%- page.thumbnail %>" alt="<%= page.title %>">
                <% }) %>
            </div>
            <div class="col-sm-4">
                <% site.pages.filter(function (page) {
                    return page.path === 'about/index.html'
                }).each(function(page) { %>
                <%- markdown(page.content) %>
                <% }) %>
            </div>
            <div id="contact" class="col-sm-4">
                <div class="social container" style="font-size: 2em; color: black;">
                    <div class="row">
                        <div class="col-sm-3">
                            <a role="button" href="<%= config.social.instagram %>" class="btn btn-light" style="font-size: 1.2em">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a role="button" href="<%= config.social.ravelry %>" class="btn btn-light" style="font-size: 1.2em">
                                <i class="fab fa-ravelry"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <% site.pages.filter(function (page) {
                    return page.path === 'contact/index.html'
                }).each(function(page) { %>
                <%- markdown(page.content) %>
                <% }) %>
            </div>
        </div>
    </div>

</div>