<div class="text-muted">
    <div class="container-fluid">
        <div class="album">
            <div class="container">
                <h2 id="myprojects">My projects</h2>
                <div class='row'>
                    <% page.posts
                            .filter(function (post) {
                                return post.layout === 'project'
                            })
                    .each(function(post){ %>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="hovereffect">
                                <a href="<%= url_for(post.path) %>">
                                    <img class="img-responsive"
                                         src="<%- post.thumbnail %>"
                                         alt="<%= post.title %> - <%= date(post.date, config.date_format) %>">
                                    <div class="overlay">
                                        <h2><%= post.title %></h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <% if (page.posts.filter(function (post) {return post.layout !== 'project'}).length > 0) { %>
    <div class="container-fluid">
        <div class="album">
            <div class="container">
                <h2 id="blog">Blog</h2>
                <div class='row'>
                    <% page.posts
                            .filter(function (post) {
                                return post.layout !== 'project'
                            })
                    .each(function(post){ %>
                    <div class="col-sm-4">
                        <a href="<%= url_for(post.path) %>">
                            <div class="card">
                                <img class="card-img-top" src="<%- post.thumbnail %>" alt="<%= post.title %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= post.title %></h5>
                                    <p class="card-text"><%= post.excerpt %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <div class="container">
        <h2 id="aboutme">Who Am I?</h2>
    </div>

    <div class="container">
        <h2 id="contact">Contact Me</h2>
    </div>
</div>